/* B1 - Global reset */
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* B2, B5 - Dış boşluk kontrolü */
* {
  box-sizing: border-box;
}

/* B6, B8, B9 - Container */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
   width: 100%;
}

.display-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0px;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu{
  display: flex;
  gap:40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.contact ul{
  gap: 40px;
  display: flex;
}
.logo{
  font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
font-family: "Raleway", sans-serif;
}
.logo-iris{
  color:#4D5AE5;
}
.navy-blue{
  color: #2E2F42;
}
ul li a{
 color: #2E2F42;
}
.contact ul li{
  color: #434455;
}
/* B10 - Flex sadece gerektiğinde (örn. navigation) */
nav > ul {
  display: flex;
  gap: 24px;

}
a {
  text-decoration: none;
}
/* B15 - Ortak section padding */
.section {
  padding: 120px 0;
}

/* B14 - Section margin yok */
section {
  margin: 0;
}
/* B4 - İç boşluklar gerektiği gibi tanımlanabilir */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

